footer.footer
    .footer__icon
        i.fab.fa-youtube
    span.footer__text #{siteName} #{new Date().getFullYear()} &copy;
script(src="https://kit.fontawesome.com/0109ac7756.js",crossorigin="anonymous")
script(src="/static/main.js")